.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
}

.h-custom {
    height: calc(100% - 73px);
}

.formEdit {
    position: relative;
    border: 2px solid #9a384a;
    border-radius: 8px;
    background-color: rgb(197, 178, 154);

    box-shadow: 5px 8px 11px 5px rgb(0 0 0 / 37%);
}

#btn1 {


    padding-left: 2.5rem;
    padding-right: 2.5rem
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
    .img{
        max-width: 78%;
            margin-left: 21px;
    }
    .mdevice{
        margin-top: -156px;
    }
    .formEdit{
        margin-top: -277px
    }
}


/* code for contact form  */