.nav-title{
    margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
        font-style: oblique;
            color: whitesmoke;
            box-shadow: 5px 8px 11px 5px rgb(1 1 0 / 37%);
}

